@* Many great CSS spinners here: https://cssloaders.github.io/ *@
@if (Centered)
{
    <div class="w-100 d-flex justify-content-center">
        <div class="my-loading-spinner @SizeClass @Class" title="Loading..."></div>
    </div>
}
else
{
    <div class="my-loading-spinner @SizeClass @Class" title="Loading..."></div>
}