.my-loading-spinner {
    width: 32px;
    height: 32px;
    border: 4px solid #034EA2FF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation .8s linear infinite;
}

.my-loading-spinner.extra-small {
    width: 24px;
    height: 24px;
    border-width: 3px;
}

.my-loading-spinner.medium {
    width: 48px;
    height: 48px;
    border-width: 5px;
}

.my-loading-spinner.large {
    width: 80px;
    height: 80px;
    border-width: 5px;
}

/* Show as white when inside a button */
button .my-loading-spinner {
    border-color: #fff;
    border-bottom-color: transparent;
}

.avatar-spinner {
    border-color: #034EA2FF !important;
    border-bottom-color: transparent !important;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
